In [1]:
import pandas as pd
gdp=pd.read_excel('GDP_su.xlsx', sheet_name='Sheet2')
#barpass= pd.read_excel('Bar Pass Stats_su.xlsx')
#grad=pd.read_excel('Gradstudents_su.xlsx', sheet_name='Sheet2')
perincome=pd.read_excel('Percapital_income_su.xlsx', sheet_name='Sheet2')
perdispose=pd.read_excel('personal_disposable_income_su.xlsx', sheet_name='Sheet2')
population=pd.read_excel('population2014_2022.xlsx', sheet_name='Sheet2')
employ=pd.read_excel('Total_employment_su.xlsx', sheet_name='Sheet2')
bankruptcy=pd.read_excel('Totals_su.xlsx', sheet_name='Sheet1')
billed_hours=pd.read_excel('9_year_worked_and_billed_hours_ver2.xlsx', sheet_name="Sheet2")

In [2]:
#df= pd.merge(left=gdp, right=barpass,how='outer', on=['Year','Jurisdiction'])
#df= pd.merge(left=df, right=grad,how='outer', on=['Year','Jurisdiction'])
df= pd.merge(left=gdp, right=perincome,how='outer', on=['Year','Jurisdiction'])
df= pd.merge(left=df, right=perdispose,how='outer', on=['Year','Jurisdiction'])
df= pd.merge(left=df, right=population,how='outer', on=['Year','Jurisdiction'])
df= pd.merge(left=df, right=employ,how='outer', on=['Year','Jurisdiction'])
df= pd.merge(left=df, right=bankruptcy,how='outer', on=['Year','Jurisdiction'])
df= pd.merge(left=df, right=billed_hours,how='outer', on=['Year','Jurisdiction'])

In [3]:
df=df[(df.Year>2013)&(df.Year<2023)&(df.Jurisdiction!='US')]

In [4]:
df.head(10)

,Year,Jurisdiction,GDP,Percapital_income,personal_disposable_income,population,total_emplyment,Bankruptcy,month,office_location,department,total_worked_hours,total_billed_hours
40,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,1.0,Mobile,Business,0.542433,0.540810
41,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,1.0,Mobile,Employment Law,0.512620,0.512529
42,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,1.0,Mobile,Insurance and Reinsurance,0.513049,0.513048
43,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,1.0,Mobile,Litigation,0.592871,0.588022
44,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,2.0,Mobile,Admiralty,0.512464,0.512411
45,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,2.0,Mobile,Business,0.538107,0.536501
46,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,2.0,Mobile,Employment Law,0.512287,0.512287
47,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,2.0,Mobile,Litigation,0.615112,0.607964
48,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,3.0,Mobile,Admiralty,0.512389,0.512382
49,2014,AL,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,3.0,Mobile,Business,0.560260,0.555854

In [5]:
df.isna().sum()

Year                            0
Jurisdiction                    0
GDP                           621
Percapital_income             621
personal_disposable_income    621
population                     88
total_emplyment               621
Bankruptcy                     88
month                           0
office_location                 0
department                      0
total_worked_hours              0
total_billed_hours              0
dtype: int64

In [6]:
df.shape

(4684, 13)

In [7]:
df.drop(columns=(['Jurisdiction']), inplace=True)

In [8]:
df.head(10)

,Year,GDP,Percapital_income,personal_disposable_income,population,total_emplyment,Bankruptcy,month,office_location,department,total_worked_hours,total_billed_hours
40,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,1.0,Mobile,Business,0.542433,0.540810
41,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,1.0,Mobile,Employment Law,0.512620,0.512529
42,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,1.0,Mobile,Insurance and Reinsurance,0.513049,0.513048
43,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,1.0,Mobile,Litigation,0.592871,0.588022
44,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,2.0,Mobile,Admiralty,0.512464,0.512411
45,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,2.0,Mobile,Business,0.538107,0.536501
46,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,2.0,Mobile,Employment Law,0.512287,0.512287
47,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,2.0,Mobile,Litigation,0.615112,0.607964
48,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,3.0,Mobile,Admiralty,0.512389,0.512382
49,2014,197406.9,37055.0,33675.0,192979.0,2551872.0,25248.0,3.0,Mobile,Business,0.560260,0.555854

In [9]:
#abs(df.corr()['revenue']).sort_values(ascending=False)

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [11]:
num_pipeline = Pipeline([
    ('imp', SimpleImputer(strategy='mean')),##dealing with nas with median function.
    ('norm', StandardScaler()),##scaling 
])##like a function that use to deal with your df, we have not apply it to data yet.

In [12]:
col_transformer= ColumnTransformer([
    ('num', num_pipeline,['GDP', 'Percapital_income', 'personal_disposable_income',
       'population', 'total_emplyment', 'Bankruptcy', 'month',
       'total_worked_hours']),
    ('cato', OneHotEncoder(),['office_location','department'])
])

In [13]:
df.columns

Index(['Year', 'GDP', 'Percapital_income', 'personal_disposable_income',
       'population', 'total_emplyment', 'Bankruptcy', 'month',
       'office_location', 'department', 'total_worked_hours',
       'total_billed_hours'],
      dtype='object')

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [15]:
full_pipeline= Pipeline([
    ('trans', col_transformer),
    ('cls', LinearRegression())
])

In [16]:
df_X= df.drop(['Year','total_billed_hours'], axis= 'columns')
df_y= df.total_billed_hours

In [17]:
X_train, X_test, y_train, y_test=train_test_split(df_X
                                                , df_y
                                                , test_size=0.3
                                                , stratify=df.Year)

In [18]:
X_train.head(10)

,GDP,Percapital_income,personal_disposable_income,population,total_emplyment,Bankruptcy,month,office_location,department,total_worked_hours
3288,594521.0,48741.0,43362.0,1386000.0,6149574.0,13531.0,11.0,Raleigh,Insurance and Reinsurance,0.540837
1331,227090.7,42725.0,38748.0,959000.0,2691382.0,13545.0,12.0,New Orleans,Litigation,0.627079
3715,1673234.3,49231.0,44335.0,5959000.0,17104535.0,35091.0,6.0,Houston,Admiralty,0.517832
251,223859.3,41539.0,37848.0,189572.0,2692095.0,26846.0,1.0,Mobile,Business,0.527573
997,240737.3,43085.0,39055.0,940000.0,2684755.0,14999.0,3.0,New Orleans,Admiralty,0.603808
4201,NaN,NaN,NaN,1005000.0,NaN,7321.0,2.0,New Orleans,Litigation,0.678941
3262,594521.0,48741.0,43362.0,1386000.0,6149574.0,13531.0,3.0,Raleigh,Litigation,0.515145
3485,1579299.5,47370.0,42644.0,5516000.0,16000512.0,36503.0,12.0,Houston,Insurance and Reinsurance,0.521804
2577,112201.7,37900.0,35055.0,71570.0,1602769.0,12793.0,6.0,Gulfport,Litigation,0.520702
4086,2051768.6,59865.0,53902.0,6491000.0,18276115.0,19762.0,1.0,Dallas/Fort Worth,Business,0.514001

In [19]:
full_pipeline.fit(X_train, y_train)

Pipeline(steps=[('trans',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imp',
                                                                   SimpleImputer()),
                                                                  ('norm',
                                                                   StandardScaler())]),
                                                  ['GDP', 'Percapital_income',
                                                   'personal_disposable_income',
                                                   'population',
                                                   'total_emplyment',
                                                   'Bankruptcy', 'month',
                                                   'total_worked_hours']),
                                                 ('cato', OneHotEncoder(),
                                                  ['office_location',
                                                   'department'])])),
                ('cls', LinearRegression())])

In [20]:
import pickle

In [21]:
pickle.dump(full_pipeline, open('pipeline_linear_billed_hours.pkl', 'wb'))
##save your model as a pkl file

In [22]:
y_pred_linear= full_pipeline.predict(X_test)

In [23]:
pd.DataFrame(y_pred_linear,y_test)

                           0
total_billed_hours
0.674234            0.670162
0.518482            0.518162
0.513783            0.514394
0.514656            0.513024
0.512188            0.512271
...                      ...
0.548379            0.548415
0.512132            0.512516
0.605619            0.599641
0.584726            0.584771
0.512225            0.512728

[1406 rows x 1 columns]

In [34]:
full_pipeline.named_steps['cls'].coef_

array([-6.66125684e-03, -5.76242232e-03, -5.56880638e-03, -4.00186576e-03,
       -2.51740188e-03, -9.08495825e-04, -3.15003784e-04, -2.97135971e-04,
       -2.78046708e-04, -2.27553950e-04, -8.15853801e-06,  9.44352870e-05,
        4.13627017e-04,  4.75378594e-04,  6.24887189e-04,  8.35868344e-04,
        1.87404159e-03,  2.46568708e-03,  2.71987211e-03,  2.74166125e-03,
        2.85946572e-03,  2.95541554e-03,  4.65449686e-03,  6.84521854e-03,
        5.85377938e-02])

In [25]:
df.columns
##we can know 'department' and 'total worked hours' are major features.

Index(['Year', 'GDP', 'Percapital_income', 'personal_disposable_income',
       'population', 'total_emplyment', 'Bankruptcy', 'month',
       'office_location', 'department', 'total_worked_hours',
       'total_billed_hours'],
      dtype='object')